{% extends "index.html" %}

{% block content %}
<div class="container">
    <h1>Todos os Dados</h1>

    <!-- Botão para adicionar novo registro -->
    <a href="{% url 'adicionar_editar_dados' %}" class="btn btn-primary mb-3">Adicionar Dados</a>

    <div style="max-height: 400px; overflow-y: auto;"></div>
        <!-- Tabela de dados -->
        <table id="dataTable" class="display responsive" width="100%">
            <thead>
                <tr>
                    <th>Ano Movimentação</th>
                    <th>Mês Movimentação</th>
                    <th>Órgão</th>
                    <th>Unidade</th>
                    <th>Categoria Econômica</th>
                    <th>Grupo Despesa</th>
                    <th>Modalidade Aplicação</th>
                    <th>Elemento</th>
                    <th>Subelemento</th>
                    <th>Função</th>
                    <th>Subfunção</th>
                    <th>Programa</th>
                    <th>Ação</th>
                    <th>Fonte Recurso</th>
                    <th>Empenho Ano</th>
                    <th>Empenho Modalidade</th>
                    <th>Empenho Número</th>
                    <th>Subempenho</th>
                    <th>Indicador Subempenho</th>
                    <th>Credor</th>
                    <th>Modalidade Licitação</th>
                    <th>Valor Empenhado</th>
                    <th>Valor Liquidado</th>
                    <th>Valor Pago</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for gasto in gastos %}
                    <tr>
                        <tr>
                            <td>{{ gasto.ano_movimentacao }}</td>
                            <td>{{ gasto.mes_movimentacao }}</td>
                            <td>{{ gasto.orgao_nome }}</td>
                            <td>{{ gasto.unidade_nome }}</td>
                            <td>{{ gasto.categoria_economica_nome }}</td>
                            <td>{{ gasto.grupo_despesa_nome }}</td>
                            <td>{{ gasto.modalidade_aplicacao_nome }}</td>
                            <td>{{ gasto.elemento_nome }}</td>
                            <td>{{ gasto.subelemento_nome }}</td>
                            <td>{{ gasto.funcao_nome }}</td>
                            <td>{{ gasto.subfuncao_nome }}</td>
                            <td>{{ gasto.programa_nome }}</td>
                            <td>{{ gasto.acao_nome }}</td>
                            <td>{{ gasto.fonte_recurso_nome }}</td>
                            <td>{{ gasto.empenho_ano }}</td>
                            <td>{{ gasto.empenho_modalidade_nome }}</td>
                            <td>{{ gasto.empenho_numero }}</td>
                            <td>{{ gasto.subempenho }}</td>
                            <td>{{ gasto.indicador_subempenho }}</td>
                            <td>{{ gasto.credor_nome }}</td>
                            <td>{{ gasto.modalidade_licitacao_nome }}</td>
                            <td>{{ gasto.valor_empenhado }}</td>
                            <td>{{ gasto.valor_liquidado }}</td>
                            <td>{{ gasto.valor_pago }}</td>
                        <td>
                            <a href="{% url 'editar_dados' gasto.id %}" class="btn btn-warning">Editar</a>
                            <a href="{% url 'excluir_dados' gasto.id %}" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}